html
  head
    title='Ed Docker FTW!'
    link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css')
  body
    div.container
      div.jumbotron
        h1.bg-success.text-white Hello Docker!
        
        p.text-success.font-weight-bold Glad to finally meet you! - Ed :)


